node_modules
.env

# Hardhat files
/cache
artifacts/build-info

# Package build output (tsc -p tsconfig.package.json)
/build

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Ignore generated env output
.env.nori-token-bridge
.env.nori-eth-token-bridge
.env.nori-eth-pre-deploy
!.env.nori-eth-pre-deploy.example
!.env.nori-eth-token-bridge.example
.env.nori-eth-timelock
!.env.nori-eth-timelock.example
